:root {
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-color: #e8f7fb;
    --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* Buttons */

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background: var(--dark-blue-color);
}

.btn.light {
    background: var(--orange-color);
}

.btn.enrol-icon::before {
    content: url("../images/encroll-icon.svg");
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon {
    padding-left: 60px;
}

/* Header */

header {
    background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/* Banner Hero Section */

.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    position: relative;
    color: #fff;
}

.hero-section .left h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    margin-bottom: 0;
}

.hero-section .left p {
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 30px;
    width: 457px;
}

.hero-section .left {
    flex: 1;
}

.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img {
    height: 520px;
    vertical-align: middle;
}

nav.mobile-nav,
.mobile-menu-container {
    display: none;
}

/* course css */
.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 70px 0 120px 0;
}

.courses-section h2 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
}

.courses-section .course-cards {
    display: flex;
    gap: 83px;
}

.courses-section .course-card {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 0px 32px;
    margin: 40px 0;
}

.courses-section .course-card img {
    width: 100%;
    border-radius: 24px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.courses-section .course-card .info {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.courses-section .course-card h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #023047;
}

.courses-section .course-card .duration {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #023047;
    white-space: nowrap;
    position: relative;
    padding-left: 20px;
}

.courses-section .course-card .duration::before {
    content: url("../images/clock.svg");
    position: absolute;
    top: 2px;
    left: -6px;
}

.courses-section .wrapper {
    position: relative;
}

.courses-section .wrapper .btn {
    position: absolute;
    right: 0;
}

/* app css */
.wrapper>.app-section {
    text-align: center;
    margin-bottom: 100px;
}

.wrapper>.app-section>h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #023047;
    padding: 0;
    margin: 100px 0 0 0;
}

.wrapper>.app-section>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #023047;
    padding: 13px 0 45px 0;
    margin: 0;
}

.wrapper>.app-section>.app-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 31px;
}

.wrapper>.app-section>.app-buttons>.app-btn {
    background-color: #000;
    padding: 16px 30px;
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 14px;
    min-width: 310px;
}

.wrapper>.app-section>.app-buttons>.app-btn>span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

/* footer */
footer {
    background-color: #000;
    padding: 70px 0;
    color: #fff;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

.links-container .links h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #DA722C;
}

.links-container .links ul {
    padding: 0;
}

.links-container .links ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
}

.links-container .links .social a {
    margin-right: 28px;
}

.links-container .links form {
    position: relative;
    margin-top: 16px;
}

.links-container .links form input {
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    border: none;
    width: 100%;
    padding: 8px 160px 8px 32px;
    border: none;
    line-height: 200%;
}

.links-container .links form input:focus {
    outline: none;
}

.links-container .links form .submit-btn {
    background: #023047;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    padding: 8px 32px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

footer .copyright {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
}

/* PC macbook 1280px - acer 15inc => lg */
@media (max-width: 1024px) {
    .btn {
        padding: 12px 32px;
    }

    .wrapper {
        padding: 0 100px;
    }

    nav {
        width: 100%;
        left: 0;
        right: 0;
        padding: 36px 100px;
    }

    header,
    .hero-section,
    header .wrapper {
        max-height: 1100px;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-section .left .btn {
        align-self: flex-start;
    }

    .hero-section .left h1 {
        font-size: 50px;
        line-height: 125%;
    }

    .hero-section .right {
        position: absolute;
        bottom: 0;
    }

    .hero-section .right img {
        height: 580px;
    }

    .courses-section {
        padding: 70px 0;
    }

    .courses-section .course-cards {
        flex-direction: column;
        row-gap: 10px;
        padding: 0;
    }

    .courses-section .course-card {
        padding-bottom: 10px;
    }

    footer .links-container {
        grid-template-columns: 1fr 1fr;
    }

    footer .links-container .links:last-child {
        grid-column: 1 / 3;
    }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1024px) {
    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
    }

    .mobile-menu-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background: var(--dark-color);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active {
        left: 0;
    }

    .mobile-menu-container .close-icon {
        position: fixed;
        top: 32px;
        right: 100px;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .close-icon {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-container ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    .hero-section .left p {
        width: 450px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #FFFFFF;
    }

    .hero-section .right {
        display: none;
    }

    .courses-section h2 {
        font-size: 40px;
    }

    .courses-section .course-card {
        margin: 0;
    }

    .courses-section .course-card h3 {
        font-size: 30px;
    }

    .courses-section .course-card img {
        height: 260px;
        object-fit: cover;
    }

    .wrapper>.app-section>.app-buttons>.app-btn {
        padding: 20px 31px;
    }
}

/* Mobiphone */
@media (max-width: 640px) {
    .wrapper {
        padding: 0 32px;
    }

    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
    }

    .mobile-menu-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background: var(--dark-color);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active {
        left: 0;
    }

    .mobile-menu-container .close-icon {
        position: fixed;
        top: 32px;
        right: 100px;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .close-icon {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-container ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    nav.mobile-nav {
        padding: 32px;
    }

    .mobile-menu-container .close-icon {
        right: 32px;
    }

    .hero-section .left h1 {
        font-size: 36px;
    }

    .hero-section .left p {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #FFFFFF;
    }

    .hero-section .right {
        display: none;
    }

    .courses-section .course-card img {
        height: 240px;
        object-fit: cover;
    }

    .courses-section .course-card h3 {
        font-size: 24px;
        margin: 0;
    }

    .courses-section .course-card .info {
        flex-direction: column;
    }

    .wrapper>.app-section>.app-buttons {
        flex-direction: column;
        row-gap: 26px;
    }

    .wrapper>.app-section>.app-buttons>.app-btn {
        padding: 12px 31px;
    }

    footer .links-container {
        grid-template-columns: 1fr;
    }

    .links-container .links form .submit-btn {
        top: 130%;
        left: 50%;
        transform: translateX(-50%);
    }

    footer .copyright {
        margin-top: 80px;
        text-align: center;
    }
}